
///// Generated Zig API /////
const std = @import("std");
const types = @import("types.zig");

var gpa = std.heap.GeneralPurposeAllocator(.{}){};
const allocator = gpa.allocator();

extern "C" fn _host_strcpy(location: [*c]u8, size: u32) void;



