module github.com/you/go-template

go 1.25.5

require github.com/westbot657/turing-apis/output/go/turing-api-go v{{ api.version }}

require github.com/westbot657/turing-apis/output/go/turing-api-go => ../turing-api-go
